.Pokemon {
  margin: 10px;
  width: 200px;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
  background-color: #fff;
  color: black;
  &:hover {
    transform: scale(1.05);
  }
}

.PkmImg {
  position: relative;
  width: 200px;
  height: 130px;
  background-color: #DFDFDF; 
  background-repeat: no-repeat;
  background-position: center;
  
  .Id {
    margin: 0px;
    padding: 5px 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: left;
    background-color: #D1CECA;
    color: black;
    display: inline-block;
    border-radius: 0 10px 0 0;
    font-size: 14px;
  }
}


.Name {
  margin: 0;
  padding: 5px 0;
  width: 200px;
  background-color: #fff;
}

.ListType {
  list-style: none;
  padding: 5px 10px;
  display: flex;
  background: #fff;
}

.Type {
  font-size: 10px;
  margin: 3px;
  padding: 5px;
  border: 1px solid #D9D1C9;
  border-radius: 7px;
  color: black;
  text-transform: uppercase;
  background-color: #fff;
}

.Evolves {
  margin: 10px 15px 15px 15px;
  padding-left: 7px;
  width: 140px;
  text-align: left;
  border-left: 3px solid black;
  color: black;
  font-size: 14px;
}

.Evolution {
  font-size: 25px;
}

.NoEvol {
  margin: 10px;
  height: 50px;
}